# Variáveis de ambiente para envio de e-mails SMTP
FROM_EMAIL="CHANGE_ME"
TO_EMAIL="CHANGE_ME"
FROM_PASSWORD="CHANGE_ME"
SMTP_SERVER="CHANGE_ME"
SMTP_PORT="CHANGE_ME"
SMTP_USERNAME="CHANGE_ME"
SMTP_PASSWORD="CHANGE_ME"